<?xml version="1.0"?>
<!--
/**
 * Vendername_Salesman route xml
 *
 * @category    Mage
 * @package     Vendername_Salesman
 * @author      Mage Software Private Limited
 *
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="salesman" frontName="salesman">
            <module name="Vendername_Salesman" />
        </route>
    </router>
</config>